body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
}

/* List Header */
.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgb(0, 0, 0, 0.25) 1px solid;
}
.button-container,
info-container {
  display: flex;
  align-items: center;
}

.edit {
  border: 1.5px solid rgb(141, 181, 145);
  background-color: transparent;
  text-transform: uppercase;
}
.edit:hover {
  background-color: rgb(182, 223, 186);
  color: rgb(141, 181, 145);
}
.edit:active {
  color: white;
}

.delete {
  border: 1.5px solid rgb(255, 175, 263);
  color: (rgb 255, 175, 263);
  text-transform: uppercase;
}
.delete:hover {
  background-color: rgb(255, 201, 193);
  color: rgb(255, 175, 263);
}
.delete:active {
  background-color: rgb(255, 175, 163);
  color: white;
}

.create {
  border: 1.5px solid rgb(108, 115, 148);
  text-transform: uppercase;
  background-color: transparent;
}
.create:hover {
  background-color: rgb(131, 138, 172);
}
.create:active {
  background-color: rgb(108, 115, 148);
  color: white;
}
.signout {
  border: 1.5px solid rgb(255, 175, 163);
  text-transform: uppercase;
  background-color: transparent;
}
.signout:hover {
  background-color: rgb(175, 94, 94);
  border: 1px solid rgb(175, 94, 94);
  color: white;
}
.signout:active {
  border: 1.5px solid rgb(175, 81, 81);
  background-color: rgb(175, 81, 81);
  color: white;
}

.button-container button {
  margin: 0;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: transparent;
}

.list-item {
  width: 100%;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}
