body {
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
}

/* List Header */
.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgb(0, 0, 0, 0.25) 1px solid;
}
.button-container,
info-container {
  display: flex;
  align-items: center;
}

.edit {
  border: 1.5px solid rgb(141, 181, 145);
  background-color: transparent;
  text-transform: uppercase;
}
.edit:hover {
  background-color: rgb(182, 223, 186);
  color: white;
}
.edit:active {
  color: white;
}

.button-container button {
  margin: 0;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: transparent;
}

.list-item {
  width: 100%;
  margin: 10px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  background-color: azure;
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
}

.modal form {
  display: flex;
  flex-direction: column;
}
